<nav class="">
    <div class="nav-wrapper container">
        <a href="#!" class="brand-logo center">HealthTrackingWebApp</a>
        <a
            href="#"
            data-target="mobile-demo"
            class="sidenav-trigger show-on-large"
        ><i class="fas fa-bars"></i></a>
        <ul class="sidenav" id="mobile-demo">
            <li><a href="/dashboard">Goals Dashboard</a></li>
            <li><a href="/goals/fitnessGoals">Fitness Goals</a></li>
            <li><a href="/goals/nutritionGoals">Nutrition Goals</a></li>
            <li><a href="/goals/healthGoals">Health Goals</a></li>
            <li><a href="/goals">Achievements</a></li>
            <li><a href="/fitnessInfo">Fitness Info</a></li>
            <li><a href="/nutritionalInfo">Nutritional Info</a></li>
            <li><a href="/healthInfo">Health Info</a></li> 
            <li><a href="/auth/logout">Logout</a></li>
        </ul>
    </div>
</nav>