<!-- views/login.hbs -->
<h3><i class="fas fa-dumbbell"></i> HealthTrackingWebApp</h3>
<div class="section">
    <div class="divider"></div>
    <div class="section about-us">
        <h4>About Us</h4>
        <p class="lead">
            HealthTrackingWebApp is a platform designed to help you track and
            manage your health goals. With our app, you can create personalized
            fitness, nutrition, and health goals, monitor your progress, and
            celebrate your achievements. By logging in, you will have access to
            all of our features, which are designed to help you live a
            healthier, more balanced life.
        </p><p>
            If you want to access all the features and maximize your health
            journey, please log in with your Google account.
        </p>
    </div>
    <div class="divider"></div>

</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1">
        <i class="fab fa-google left"></i>
        Login with Google
    </a>
</div>