p {
    margin: 10px 0 !important;
}

.login-container {
    margin-top: 50px;
    text-align: center;
}

.goal-body-box {
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin-top: 15px;
  }