<h3>Add Goal</h3>
<div class="row">
    <form action="/goals" method="POST" class="col s12">
        <div class="row">
            <div class="input-field">
                <input type="text" id="title" name="title" />
                <label for="title">Title</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <input type="date" id="date" name="date" />
                <label for="date">Date</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <input type="date" id="targetDate" name="targetDate" />
                <label for="targetDate">Target Date</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <select id="category" name="category">
                    <option value="Health" selected>Health</option>
                    <option value="Nutrition">Nutrition</option>
                    <option value="Fitness">Fitness</option>
                </select>
                <label for="category">Category</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <select id="status" name="status">
                    <option value="public" selected>Public</option>
                    <option value="private">Private</option>
                </select>
                <label for="status">Status</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <h5>What is your goal:</h5>
                <textarea id="body" name="body"></textarea>
            </div>
        </div>

        <div class="row">
            <input type="submit" value="Save" class="btn" />
            <a href="/dashboard" class="btn orange">Cancel</a>
        </div>
    </form>
</div>